*{
    font-family: "Helvetica Neue";
    background-color: #f7f7f7;
}

.navbar-custom{
    background-color: #f7f7f7;
    color: #003e29;
}

.nav-text{
    color: #003e29;
    font-family:"Helvetica Neue";
    font-weight: 500;
}

.nav-link{
    font-family: "Helvetica Neue";
    font-weight: 600;
}
.header3 {
    color: #003e29;
  }

.header2 {
    background-color: #f7f7f7;
    color: #003e29;
}

.quotepage{
    background-color: #f7f7f7;
}

h1{
    color: #003e29;
    font-weight: bolder;
}

h3{
    color: #003e29;
    font-weight: 100;

}