*{
    font-family: "Helvetica Neue";
}

.navbar-custom{
    background-color: #f7f7f7;
    color: #003e29;
}

.nav-text{
    color: #003e29;
}

.header {
    background-color: #003e29;
    color: ffffff;
  }

.header2 {
    background-color: #ffffff;
    color: #003e29;
}

.quotepage{
    background-color: #f7f7f7;
}

h1{
    color: #003e29;
    font-weight: bolder;
}